:root {
  --golden-color: rgb(221, 195, 126);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Poppins', sans-serif;
  width: 100svw;
  height: 100svh;

  position: relative;
}